@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,900&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Bodoni Moda', serif;
    
}

.container{
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
    
}
.heading {
width:100%;
padding-bottom: 50px;
margin-right: 25px ;
}
.heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
    background-color: #d59d93;
}
.heading h3 span{
    font-weight: 100;
}
.box{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d59d93;
}
.gallery{
    display:flex;
    flex-direction: column;
    width: 32.5%;
    cursor: pointer;
}
.gallery img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;  
}
.gallery img:hover {
     box-shadow: 0 0 14px #fff;
}
.button{
    margin:40px 0 70px 0;
    background: #222;
    padding: 15px 40px;
    border-radius:5px;
}
.button a{
    color:#fff;
    font-size:1.2em;
    text-decoration: none;
    font-weight:bolder;
    letter-spacing: 3px;
}

